@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

@import '../style/variables.scss';

body {
    font-family: 'Roboto', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    height: 100%;
    margin: 0 auto;
}

ul {
    list-style: none;
}

.list-inline {
    
    li {
        display: inline-block;
        margin: 0 20px;
    }

    .active {
        border-bottom: 5px solid $brandBlue;
        padding-bottom: 55px;
        color: $brandBlue;
    }
}

a {
    text-decoration: none;
}

